[contenteditable] {
  outline: 0px solid transparent;
  width: 900px;
}

[contenteditable='true']:empty:before {
  content: attr(placeholder);
  display: block;
  color: #aaa;
  cursor: text;
}
